.services_hero_bg {
  background-image: url("./assets/bg.jpg");
  background-size: cover;
  min-height: 50vh;
  background-repeat: no-repeat;
}

.header_heading {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  padding-top: 90px;

  > h1 {
    color: aliceblue;
    font-size: 64px;
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: center;
  }

  > p {
    text-align: center;
    color: rgb(187, 184, 184);
    font-size: 18px;
    letter-spacing: 1px;
  }
}

.services_main {
  display: flex;
  flex-direction: column;
  align-items: center;

  > h2 {
    font-size: 44px;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .cards {
    max-width: 1440px;
    display: flex;
    justify-content: center;
    margin: auto;
    gap: 50px;
    flex-wrap: wrap;

    > .card {
      width: 400px;
      height: 600px;
      display: flex;
      flex-direction: column;
      align-items: start;
      padding: 20px;
      box-shadow: 2px 2px 10px 10px rgba(105, 84, 241, 0.082);
      border-radius: 8px;
        transition: all 0.3s ease-in;

        >h2 ,h3{
          margin: 10px 0;
        }

      > img {
        width: 400px;
      }

      > p {
        color: grey;
        margin: 20px 0px;
      }


      > ul {
    
        > li {
          padding-bottom: 5px;
          color: grey;
          display: flex;
          gap: 20px;
          > i {
            color: green;
            font-size: 20px;
          }
        }
      }

      &:hover{
        transform: scale(1.05);
        background-color: rgba(202, 185, 240, 0.436);
      }
    }

    > .card_center {
      border: 1px solid green;
      transform: scale(1.05);
    }
  }
}


.why_Trust_us{

  margin-top: 100px;

  >h2{
    text-align: center;

  }


  >.main{

    display: flex;
    justify-content: center;
    gap : 40px;
    max-width: 1600px;
    margin: auto;
 
    min-height: 200px;
    margin-top: 50px;


    >.left , .right{
      padding: 10px;
      display: flex;
      gap: 10px;
      align-items: center;

      >.animation{
        width: 150px;
        height: 150px;
   
      }


      >.text{

        width: 380px;

         >h3{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-style: italic;
      }

      >p{
        margin-top: 30px;
        font-style: oblique;
        color: grey;
      }

      }
     

    }

  

  }


}



.services_achivement {
  min-height: 20vh;
}
