.services_hero_bg {
  background-image: url("./assets/bg.jpg");
  background-size: cover;
  min-height: 50vh;
  background-repeat: no-repeat;
}

.header_heading {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  padding-top: 90px;

  > h1 {
    color: aliceblue;
    font-size: 64px;
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: center;
  }

  > p {
    text-align: center;
    color: rgb(187, 184, 184);
    font-size: 18px;
    letter-spacing: 1px;
  }
}

.services_main {
  display: flex;
  flex-direction: column;
  align-items: center;

  > h2 {
    font-size: 44px;
  }

  .cards {
    max-width: 1440px;
    display: flex;
    justify-content: center;
    margin: auto;
    gap: 50px;
    flex-wrap: wrap;

    > .card {
      width: 400px;
      height: 600px;
      display: flex;
      flex-direction: column;
      align-items: start;
      padding: 20px;
      box-shadow: 2px 2px 10px 10px rgba(105, 84, 241, 0.082);
      border-radius: 8px;
        transition: all 0.3s ease-in;


      > img {
        width: 400px;
      }

      > p {
        color: grey;
      }

      > h3 {
        margin: 0px;
      }

      > ul {
        padding-left: 0px;
        list-style-type: none;
        > li {
          padding-bottom: 5px;
          color: grey;
          display: flex;
          gap: 20px;
          > i {
            color: green;
            font-size: 20px;
          }
        }
      }

      &:hover{
        transform: scale(1.1);
        background-color: rgba(202, 185, 240, 0.436);
      }
    }

    > .card_center {
      border: 1px solid green;
      transform: scale(1.1);
    }
  }
}

.services_achivement {
  min-height: 20vh;
}
