body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.btn_primary {
  border-radius: 20px;
  padding: 10px 30px;
  font-size: 18px;
  background-color: rgb(199, 38, 65);
  border: none;
  color: aliceblue;
  transition: all 0.1s ease-in;

  &:hover {
    cursor: pointer;
    transform: scale(1.03);
    background-color: rgb(199, 105, 120);
  }
}

.btn_secondary {
  border-radius: 20px;
  padding: 10px 30px;
  font-size: 18px;
  background-color: rgba(199, 38, 65, 0.034);
  border: 1px solid rgb(199, 38, 65);
  color: aliceblue;
  transition: all 0.1s ease-in;

  &:hover {
    cursor: pointer;
    transform: scale(1.03);
    background-color: rgb(199, 38, 65);
  }
}

.background {
  background-image: url("./assets/bg.jpg");
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1600px;
  margin: auto;
  padding-top: 20px;

  > .logo {
    > h1 {
      color: aliceblue;
    }
  }

  > .links {
    ul {
      display: flex;
      list-style-type: none;
      gap: 30px;

      > li {
        color: aliceblue;
        font-size: 18px;
        transition: all 0.2s ease-in;

        &:hover {
          color: rgb(199, 38, 65);
          transform: scale(1.1);
          cursor: pointer;
        }
      }
    }
  }
}

.hero {
  max-width: 1600px;
  margin: auto;
  margin-top: 100px;
  display: flex;

  > .left {
    flex: 1;

    > h1 {
      color: aliceblue;
      font-size: calc(50px + 2vw);
    }

    > p {
      color: aliceblue;
      font-size: 22px;
      max-width: 600px;
    }

    > .cta_buttons {
      display: flex;
      gap: 20px;
      margin-top: 60px;
    }
  }

  > .right {
    flex: 1;
  }
}

@media only screen and (max-width: 1600px) {
 

  .hero , .header{
    padding-left: 100px;
    padding-right: 100px;

    > .right {
      display: none;
    }
  }
}

@media only screen and (max-width : 1000px) {
    
    .header{
        .links{
            display: none;
        }
    }
}


@media screen and (max-width: 840px) {
       .header{
        padding-left: 50px ;
        padding-right: 50px;
    }
 
 
    .hero {
    .left {
      display: flex;
      flex-direction: column;
      align-items: center;

      > h1,
      p {
        text-align: center;
      }
    }
  }
}

@media only screen and (max-width: 520px) {

  .hero {
    /* margin-top: 20px; */
    max-width: 400px;
    padding-left: 0px;
    padding-right: 0px;
  }
}
