


body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;

   h1 , h2 ,h3 , p{

    margin: 0;
    padding: 0;

  }

  a{
    text-decoration: none;
    color: aliceblue;
    &:hover{
      text-decoration: dashed;
    }
  }

  ul{
    list-style-type: none ;
    padding: 0px;
    margin: 0px;
  }
}

.btn_primary {
  border-radius: 20px;
  padding: 10px 30px;
  font-size: 18px;
  background-color: rgb(199, 38, 65);
  border: none;
  color: aliceblue;
  transition: all 0.1s ease-in;

  &:hover {
    cursor: pointer;
    transform: scale(1.03);
    background-color: rgb(199, 105, 120);
  }
}

.btn_secondary {
  border-radius: 20px;
  padding: 10px 30px;
  font-size: 18px;
  background-color: rgba(199, 38, 65, 0.034);
  border: 1px solid rgb(199, 38, 65);
  color: aliceblue;
  transition: all 0.1s ease-in;

  &:hover {
    cursor: pointer;
    transform: scale(1.03);
    background-color: rgb(199, 38, 65);
  }
}

.background {
  background-image: url("./assets/bg.jpg");
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.menu_list {
  position: absolute;
  background-color: aliceblue;
  left: 10px;
  top: 10px;
  width: 200px;
  height: 100vh;
  padding: 20px;
}

.display_none {
  display: none;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1600px;
  margin: auto;
  padding-top: 20px;

  > .logo {
    > h1 {
      color: aliceblue;
    }
  }

  > .links {
    ul {
      display: flex;
      list-style-type: none;
      gap: 30px;

      > li {
        color: aliceblue;
        font-size: 18px;
        transition: all 0.2s ease-in;

        &:hover {
          color: rgb(199, 38, 65);
          transform: scale(1.1);
          cursor: pointer;
        }
      }
    }
  }

  > .button {
    > .menu_burger {
      display: none;
    }
  }
}

.hero {
  max-width: 1600px;
  margin: auto;
  margin-top: 100px;
  display: flex;

  > .left {
    flex: 1;

    > h1 {
      color: aliceblue;
      font-size: calc(50px + 2vw);
    }

    > p {
      color: aliceblue;
      font-size: 22px;
      max-width: 600px;
    }

    > .cta_buttons {
      display: flex;
      gap: 20px;
      margin-top: 60px;
    }
  }

  > .right {
    flex: 1;
  }
}






.footer {
  background-image: url(./assets/bg.jpg);
  background-size: cover;
  min-height: 30vh;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding-left: 170px ;



  > .footer_head {
    flex: 1;
    max-width: 1600px;
   

    > h2 {
      color: aliceblue;
      padding-top: 20px;
      font-size: calc(22px + 1vw);
      margin: 0px;
    }
  }

  > .footer_main {
    flex: 3;
    display: flex;
    max-width: 1600px;
    

    h2 , p{
      color: aliceblue;
      margin: 10px 0px;
    }
    
    ul{
      color: aliceblue;
      >li{
        padding-bottom:5px ;
      }
    }

    > .contact {
      flex: 1;
    }
    > .quick_links {
      flex: 1;
    }
    > .newsletter {
      flex: 1;

      >form{
        margin-top: 20px;
        >input{
          padding: 10px 20px;
          border-radius: 20px;
          margin-right: 10px;
        }
      }

    }
    > .social_links {
      flex: 1;

    }
  }

  > .footer_footer {
    max-width: 1600px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    > p {
      color: aliceblue;
      margin: 0px;
    }
  }
}

@media screen and (max-width: 1600px) {
  .hero,
  .header {
    padding-left: 100px;
    padding-right: 100px;

    > .right {
      display: none;
    }
  }
}
@media screen and (max-width: 1000px) {
  .header {
    .links {
      display: none;
    }

    > .button {
      > .btn_primary {
        display: none;
      }

      > .menu_burger {
        display: inline;

        > i {
          color: aliceblue;
          font-size: 32px;
        }
      }
    }
  }
}
@media screen and (max-width: 840px) {
  .header {
    padding-left: 50px;
    padding-right: 50px;
  }

  .hero {
    .left {
      display: flex;
      flex-direction: column;
      align-items: center;

      > h1,
      p {
        text-align: center;
      }
    }
  }
}
@media screen and (max-width: 520px) {
  .hero {
    /* margin-top: 20px; */
    max-width: 400px;
    padding-left: 0px;
    padding-right: 0px;
  }
}
