


body {

padding: 0;
margin: 0;
font-family: Arial, Helvetica, sans-serif;


}


.navbar{

    background-color: black;
    color: aliceblue;
    display: flex;

    >ul{
        display: flex;
        gap: 20px;
        list-style-type: none;
        >li{
            >a{
                color: aliceblue;
                text-decoration: none;
            }
        }
    }
}





.footer{

    background-color: black;
    color: aliceblue;
    display: flex;
    gap: 5px;
    justify-content: center;


}



.main{
    min-height: 90vh;
}