.article_main{

width: 60%;
margin: auto;


}



.article_card{

    width: 400px;
    min-height: 500px;
    /* border: 1px solid black; */
    border-radius: 5px;
    margin-top: 30px;
    box-shadow: 2px 2px 10px 10px rgba(0, 0, 0, 0.09);
   


    >img{
        width: 100%;
    }

    >.article_desc{
        padding: 0px 10px;
        padding-bottom: 10px;

        >h3{
            margin-bottom: 5px;
        }

        >p{
            color: grey;
        }

    }

}