body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}



.register_form {

    width: 480px;
    border: 1px solid rgba(0, 0, 0, 0.087);
    border-radius: 8px;
    box-shadow: 2px 2px 10px 10px rgba(0, 0, 0, 0.14);
    padding: 30px;
    margin: 50px auto;

    >h1 {
        text-align: center;
    }

    >form {
        display: flex;
        flex-direction: column;
        gap: 30px;


        >div {
            display: flex;
            flex-direction: column;
            gap: 10px;

            >label {
                font-weight: 700;
            }

            >input {
                padding: 8px 15px;
                border: 1px solid rgb(100, 99, 99);
                border-radius: 8px;
                font-size: 17px;
            }

        }


        >button {
            padding: 10px 20px;
            border: 1px solid rgb(100, 99, 99);
            border-radius: 8px;
            color: aliceblue;
            background-color: black;
            width: 200px;
            margin: 50px auto;
            font-size: 16px;
            transition: all 0.2s ease-in;

            &:hover {
                background-color: rgba(0, 0, 0, 0.616);
                cursor: pointer;
            }

        }

    }






}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #ffffff;
  color: #000;
}

/* Navbar */
.navbar {
  width: 100%;
  padding: 20px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo {
  font-size: 22px;
  font-weight: bold;
}

.navbar ul {
  display: flex;
  gap: 30px;
  list-style: none;
}

.navbar ul li a {
  text-decoration: none;
  color: black;
  font-size: 14px;
}

.navbar ul li a.active {
  color: orange;
}

.consult-btn {
  background: orange;
  padding: 10px 18px;
  border-radius: 20px;
  color: #fff;
  text-decoration: none;
}

/* Hero Section */
.hero {
  padding: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-text {
  width: 50%;
}

.hero-text h1 {
  font-size: 42px;
  line-height: 1.2;
  margin-bottom: 20px;
}

.hero-text p {
  margin-bottom: 25px;
  color: #555;
  font-size: 16px;
}

.hero-buttons .btn-primary,
.hero-buttons .btn-secondary {
  padding: 12px 20px;
  border-radius: 20px;
  text-decoration: none;
  margin-right: 10px;
  font-size: 14px;
}

.btn-primary {
  background: orange;
  color: #fff;
}

.btn-secondary {
  background: #eee;
  color: #000;
}

.hero-img img {
  width: 350px;
  border-radius: 10px;
}

/* Brands Strip */
.brands {
  margin-top: 50px;
  background: orange;
  padding: 30px;
}

.brands-strip {
  display: flex;
  justify-content: space-around;
  color: #fff;
  font-size: 18px;
}

/* Trusted Section */
.trusted {
  text-align: center;
  padding: 60px 100px;
}

.trusted h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.trusted p {
  color: #555;
  font-size: 16px;
}

