body {
  margin: 0;
  padding: 0;
}

@keyframes box1 {
  from {
    background-color: red;
    color: white;
  }
  to {
    background-color: yellow;
    color: black;
  }
}

@keyframes box2 {
  from {
    background-color: yellow;
  }
  to {
    background-color: red;
   
  }
}


@keyframes box3 {
  from {
    background-color: rgb(11, 255, 68);
    transform: translateX(0px);
    
  }
  to {
    background-color: rgb(0, 132, 255);
        transform: translateY(1080px);
   
  }
}


@keyframes headingAnimation {

    from{
        padding-top: 0px;
    }
    to{
        padding-top: 50px;


    }
    
}

.header {
  > h1 {
    text-align: center;
    /* animation: headingAnimation 1s linear ; */
  
  }
}

.main {
  display: flex;
  gap: 5px;
  justify-content: center;
  > .box {
    background-color: grey;
    height: 30px;
    width: 30px;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    transition: all ease-in;
  }

  > .first {
    animation: box1 1s linear infinite;
  }

  > .second {
    animation: box2 1s linear infinite;
  }

  > .third {
    animation: box3 3s linear infinite;;
  }
}


@keyframes circleLoader{

    10%{
       transform: rotate(360deg);

    }
    20%{
        transform: rotate(60deg);

    }
    100%{
      transform: rotate(360deg);
    }

}







.circle_loader{
    display: flex;
    justify-content: center;
    padding-top: 100px;


    >.box{
        width: 60px;
        height: 60px;
        border-radius: 100%;
        border-right: 10px solid rgb(248, 143, 15);
        border-left: 10px solid black;
        animation: circleLoader 0.5s infinite  ;
         transform: rotate(360deg);

    }

}