<div class="article_main">

    <h1> Latest Articles </h1>


    <div class="article_card">

        <img src="/assets/dm.png" alt="article-title" />


        <div class="article_desc">
            <h3> What is digital marketing </h3>

            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus aut laudantium <a href="/article/">Read more</a>
            </p>


        </div>


    </div>




</div>