

    <div class="register_form">

        <h1> Register Form</h1>

        <form method="post">

            <div>
                <label>Username</label>
                <input placeholder="Enter your name" type="text" name="username" />

            </div>


            <div>
                <label>Email</label>
                <input placeholder="Enter your Email" type="email" name="email" />
            </div>


            <div>
                <label>Password</label>
                <input placeholder="Enter your Password" type="password" name="password" />


            </div>


             <p> {{errMessage}}  </p> 

             <p> {{suxsMessage}}  </p>

            <button> Register </button>

        </form>
    </div>


