@keyframes loaderAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  background-color: aqua;
  opacity: 0.4;
  background-image: url(./);
  background-repeat: no-repeat;

  > h1 {
    text-align: center;
  }
}

.loader {
  display: flex;
  justify-content: center;

  > .spinner {
    width: 50px;
    height: 50px;

    border-radius: 100%;
    border-right: 5px solid black;
    border-left: 5px solid rgb(232, 42, 12);
    animation: loaderAnimation 1s infinite;
  }
}

@keyframes waveAnimation {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0px);
  }
}

.loader_2 {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-top: 100px;

  > .ball_1 {
    width: 30px;
    height: 30px;
    background-color: aqua;
    border-radius: 100%;
    animation: waveAnimation 1s linear infinite;
  }

  > .ball_2 {
    width: 30px;
    height: 30px;
    background-color: rgb(200, 255, 0);
    border-radius: 100%;
    animation: waveAnimation 1s 0.2s linear infinite;
  }

  > .ball_3 {
    width: 30px;
    height: 30px;
    background-color: rgb(255, 0, 0);
    border-radius: 100%;
    animation: waveAnimation 1s 0.3s linear infinite;
  }

  > .ball_4 {
    width: 30px;
    height: 30px;
    background-color: rgb(0, 95, 197);
    border-radius: 100%;
    animation: waveAnimation 1s 0.4s linear infinite;
  }

  > .ball_5 {
    width: 30px;
    height: 30px;
    background-color: rgb(235, 15, 255);
    border-radius: 100%;
    animation: waveAnimation 1s 0.5s ease-out infinite;
  }
}
