    <header class="navbar">
        <div class="logo">Nextwave.</div>
        <nav>
            <ul>
                <li><a href="/" class="active">Home</a></li>
                <li><a href="/services">Service</a></li>
                <li><a href="/articles">Articles</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/carrer">Career</a></li>
            </ul>
        </nav>
        <a href="/take-consultation" class="consult-btn">Consult With Us</a>
    </header>
